.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 4px 4px 20px rgb(73, 71, 71);
}

.heading_div{
float: none;
background: whitesmoke;
padding: 10px;
border-radius: 20px;
color: black;
box-shadow: 5px 5px 6px gray;
}
.heading_div2{
    font-size: 20px;
    text-align: center;
    width: 500;
    box-shadow: 4px 4px 15px rgb(73, 26, 26);
}

.copy_right_footer{
    position: fixed;
    color: white;
    background-color: rgb(26, 25, 25);
    bottom: 0px;
    width: 100%;
    text-align: center;
    line-height: 3;
}

canvas{
    border: 10px solid rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(70, 55, 55);
}